/* styles/style.css */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

  .btn-hover:hover{
    background-color: black;
    color: #fff;
    transition: all 0.3s;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  #cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
  }
  
  .hidden {
    display: none;
  }
  