@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

  .radio:checked + .radio-label {
    color: black; /* Change label text color to black */
    font-weight: bold; /* Optional: Make the label bold for better visibility */
  }
  
  .radio:checked {
    accent-color: black; /* Modern browsers support accent-color for radio buttons */
  }
  
  .code-p {
    border: 1px dashed #161616;
    padding: 10px 20px;
    border-radius: 4px 0px 0px 4px;
    background-color: #f9f9f9;
  }
  
  .code-span {
    border: 1px solid #161616;
    padding: 14px 20px;
    border-radius:0px 4px 4px 0px;
  }